@model BookCommentViewModel

@{
    ViewData["Title"] = "ViewBook";
}

<h1>ViewBook</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-12">
            <img src="~/images/@Model.Book.imageURL"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" href="https://www.paypal.com/ye/signin" target="_blank">Buy</a>
    <a asp-controller="Home" asp-action="HomeView">Back to List</a>
</div>
<div class="MainComment">
    <partial name="_Comment" model='new BookCommentViewModel {Book = Model.Book, CommentIntialId = 0}' />
</div>
<div style="width: 30%; float: left; margin-bottom: 70px">
    @foreach (var comment in Model.Book.MainComments){
        <div style="border: 1px solid gray; padding: 10px; margin: 10px; border-radius: 5%">
            <div>
                <p>
                <b style="font-size: 20px;">@comment.UserName</b>
                <br>
                <div style="font-size: 15px">@comment.CommentText</div> 
                <br> 
                <div style="font-size: 10px; text-align: right;">@comment.CreationDate</div>
                </p>
            </div>
            <div class="Reply">
                <div>
                    <partial name="_Comment" model='new BookCommentViewModel {Book = Model.Book, CommentIntialId = comment.Id}'>
                </div>
                <div style="margin-top: 5px; margin-bottom: 5px">
                    @foreach (var reply in comment.SubComments){
                        <p>
                        <b style="font-size: 20px;">@reply.UserName</b>
                        <br>
                        <div style="font-size: 15px">@reply.CommentText</div> 
                        <br> 
                        <div style="font-size: 10px; text-align: right;">@reply.CreationDate</div>
                        </p>
                    }
                </div>
           </div>
        </div>
    }
</div>